<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-none">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-weight: 800; text-transform: uppercase; color: rgba(142, 145, 0, 0.863); font-size: 40px;">Kitchen Story</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" >Products</a>
          </li>
         
        </ul>
      <div class="from-group">
                          <input type="text" class="from-con" placeholder="Search Product">
      </div>
      <a routerLink="/products"><i class="fas fa-search search1"></i></a>
      
                     
      </div>
      <a routerLink="/signin" class="Profile"  ><i class="fas fa-user-circle"></i></a>
      <button routerLink="cart" class="btn btn-none" >
        <i style="font-size: 16px;" class="fas fa-cart-plus" style="font-size: 20px;"></i>
        <div style="font-size: 9px;" class="badge bg-danger">{{totalItem}}</div>
    </button>
    </div>
  </nav>
  
 
</header>