h1{
                    color: rgb(68, 0, 0);
                    text-transform: uppercase;
                    background-color: rgb(189, 189, 189);
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-display: inherit;
}